.container{
  display: flex;
  align-items: center;
  gap: 100px;
  border-bottom: 2px solid turquoise;
  margin-bottom: 10px;
}


.nav{
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.nav ul li a {
  padding: 10px 16px;

 
  text-decoration: none;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul li a:hover{
  background-color: turquoise;
  border-radius: 25%;
}

.active{
  background-color: turquoise;
}
