.container{
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.authUserName{
 
    

}
.button{
    position: relative;
    top:-7px;
    background-color: white;
    
}
.button:hover{
    background-color: turquoise;
  border-radius: 25%;
}

.imgContainer{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}