
.formContainer{
    width: 35%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}
.formContainer img {
    margin: 5%;
    width: 50%;
    height: 30%;
    object-fit: fill;
}
.formContainer header {
    width: 100%;
    text-align: center;
    
    border-bottom: 1px solid grey;
    
}
.formContainer header h1{
    font-size: 18px;
}



.signinButton{
    width: 100%;
    height: 30px;
    background-color: turquoise;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin-top: 20px ;
    border-radius: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
    align-items: center;
}
.form label{
    color: turquoise;
    font-size: 18px;
    font-weight: 600;
}