.container {
  display: flex;
  background-color: thistle;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 60%;
}
.questionContainer {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container header span {
  font-weight: bold;
}

.imgContainer {
  width: 15%;
  border-radius: 50%;
}
.imgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.optionOne {
  width: 100%;
  height: 120px;
  background-color: rgba(162, 216, 255, 0.9098039215686274);
  border-radius: 10px;
  padding: 15px;
}
.optionOne p {
  font-weight: 600;
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.optionTwo {
  width: 100%;
  height: 120px;
  background-color: rgba(62, 184, 98, 0.91);
  border-radius: 10px;
  padding: 15px;
}
.optionTwo p {
  font-weight: 600;
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
}

.progress {
  width: 100%;
  height: 32px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.progress div {
  height: 100%;
  background-color: rgb(248, 205, 12);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0;
}
.progress p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #05667e;

  z-index: 3;
}

.active {
  background-color: #13e748 !important;
  position: relative;
}
