.question {
    width: 50%;
    height: auto;
    border-radius: 10px;
    background-color: rgb(17 217 47 / 18%);
    padding: 10px;
    margin-bottom: 2%;
    flex-wrap: nowrap;
  }
  .authorName{
      font-weight: bold;
  }
  .questionContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .question header {
    width: 100%;
    text-align: center;
  }
  
  .img-holder {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .img-holder img {
    width: 100%;
  }
  .questionContent a {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(19, 17, 19);
    color: white;
    width:50%;
  }
  .img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }